.home 
{
  display: grid;
  height: 100vh;
  grid-template: 100% 0 / 1fr 3fr;
  grid-template-areas: "sidebar primary"
                       "sidebar featuring";
  @media (--small) {
    height: auto;
    grid-template: auto auto / 1fr;
    grid-template-areas: "primary"
                         "sidebar"
                         "featuring";
  }
}

.home.search-active {
  grid-template-rows: 80% 20%;
  @media (--small) {
    grid-template-rows: auto auto 100px;
  }
  @media (--ultra-small) {
    grid-template-rows: auto auto 80px;
  }
}